<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- see:https://docs.spring.io/spring-boot/docs/2.6.7/reference/htmlsingle/#features.logging.logback-extensions.profile-specific -->
	<springProperty scope="context" name="appName" source="spring.application.name" defaultValue="springapp" />
	<springProperty scope="context" name="fileName" source="logging.file.name" defaultValue="/var/log/springapp/springapp.log" />
	<springProfile name="dev | !pro">
		<include resource="org/springframework/boot/logging/logback/base.xml" />
		<logger name="guru.springframework.controllers" level="WARN" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>
	<springProfile name="pro">
		<include resource="org/springframework/boot/logging/logback/base.xml" />
		<logger name="guru.springframework.controllers" level="WARN" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</logger>
		<logger name="guru.springframework.helpers" level="WARN" additivity="false">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
		</logger>
	</springProfile>
</configuration>