<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl4g.devops.dao.iam.RoleUserDao">
	<resultMap id="BaseResultMap" type="com.wl4g.components.core.bean.iam.RoleUser">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="create_by" property="createBy" jdbcType="BIGINT" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_id, role_id, create_by, create_date
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_role_user
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectRoleIdByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
		select
		role_id
		from sys_role_user
		where
		user_id = #{userId,jdbcType=BIGINT}
	</select>



	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_role_user
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from sys_role_user
		where user_id = #{userId,jdbcType=BIGINT}
	</delete>

	<insert id="insert" parameterType="com.wl4g.components.core.bean.iam.RoleUser">
		insert into sys_role_user (id, user_id, role_id,
		create_by, create_date)
		values
		(#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT},
		#{createBy,jdbcType=BIGINT},
		#{createDate,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.wl4g.components.core.bean.iam.RoleUser" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_role_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wl4g.components.core.bean.iam.RoleUser">
		update sys_role_user
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=BIGINT},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wl4g.components.core.bean.iam.RoleUser">
		update sys_role_user
		set user_id = #{userId,jdbcType=BIGINT},
		role_id =
		#{roleId,jdbcType=BIGINT},
		create_by = #{createBy,jdbcType=BIGINT},
		create_date = #{createDate,jdbcType=TIMESTAMP}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
</mapper>